.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
 }
 
 .header-main img {
   width: 40px;
   height: 40px;
 }

 .header-main nav ul{
    display: flex;
 }
 .header-main nav ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
 }